*, html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/* begin header */

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 64px;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

header nav {
    display: flex;
    gap: 16px;
}

header a {
    color: #e5e7eb;
    text-decoration: none;
}

/* end header   */

/* ----------- */

/* begin hero */

.hero-container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 0 64px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

/* end hero    */

/* ----------- */

/* begin cards */

.cards-container {
    padding: 32px 64px;
}

.cards-container h2 {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}

.cards-container .cards {
    display: flex;
    gap: 16px;
}

.card-image {
    border: #3882f6 2px solid;
    border-radius: 25%;
    width: 100px;
    height: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* end cards    */

/* ----------- */

/* begin quote */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    padding: 0 64px;
}

.quote .quoter {
    font-weight: bold;
    display: block;
    align-self: flex-end;
    text-align: end;
    flex: auto;
}

/* end quote, begin call to action */

