*, html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/* begin header */

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 15%;
}

header .logo {
    font-size: 24px;
    color: #f9faf8;
}

header nav {
    display: flex;
    gap: 16px;
}

header a {
    color: #e5e7eb;
    text-decoration: none;
}

/* end header   */

/* ----------- */

/* begin hero */

.hero-container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 100px 15%;
    gap: 20px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.hero-text p {
    color: #e5e7eb;
    padding: 0;
    margin-top: 5px;
}

.hero-text button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
}

.img-placeholder {
    background-color: #e5e7eb;
    padding: 20px;
    flex: 1;
    align-self: stretch;
}


/* end hero    */

/* ----------- */

/* begin cards */

.cards-container {
    padding: 32px 15%;
}

.cards-container h2 {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
}

.cards-container .cards {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.card-image {
    border: #3882f6 2px solid;
    border-radius: 25%;
    width: 100px;
    height: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* end cards    */

/* ----------- */

/* begin quote */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.quote .quoter {
    font-weight: bold;
    display: block;
    align-self: flex-end;
    text-align: end;
    flex: auto;
}

/* end quote, begin call to action */

.cta {
    background-color: #3882f6;
    color: white;
    margin: 64px 15%;
    border-radius: 10px;
    padding: 32px 64px;
    display: flex;
    gap: 64px;
    justify-content: space-between;
}

.cta h3 {
    margin: 0;    
}

.cta button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px #e5e7eb solid;
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-start;
}


/* end call to action, begin footer */

footer {
    background-color: #1f2937;
    color:#e5e7eb;
    padding: 16px 64px;
    text-align: center;
}